@model Front.Models.Sell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellItems)
        </dt>

        <dd>

            @Html.Partial("~/Views/SellItems/_bySellDetails.cshtml", Model.SellItems.Select(si => new Front.Models.ViewModel.SellItemVM()
               {
                   SellItemId = si.SellItemId,
                   Quantity = si.Quantity,
                   UnitPrice = si.UnitPrice,
                   ProductId = si.ProductId,
                   Product = si.Product,
                   SellId = si.SellId,
                   Sell = si.Sell
               }))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SellId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
