@model IEnumerable<Front.Models.Sell>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SellId })
                @if (!item.Closed)
                {
                    <text> |
                        @Html.ActionLink("Edit", "Edit", new { id = item.SellId }) |
                        @Html.ActionLink("Close", "CloseSell", new { id = item.SellId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SellId })
                    </text>
                }
            </td>
        </tr>
    }

</table>
